<section>
  <div class="card text-center">
    <div class="card-header">
      About us
    </div>
    <div class="card-body">
      <h5 class="card-title">The Walt Disney Company</h5>
      <p class="card-text">The Walt Disney Company (NYSE: DIS) (legalmente antes Disney Associates, Ltd., Walt Disney Productions, Inc. y Disney Enterprises, Inc.), también conocida simplemente como Disney, es la compañía de medios de comunicación y entretenimiento estadounidense más grande del mundo. Fundada por Walt Disney y Roy O. Disney el 16 de octubre de 1923, el estudio empezaría a competir en 1928 contra Fleischer Studios con Steamboat Willie y con los cortometrajes Silly Symphonies; y en 1930 empezaría la producción de Blancanieves y los siete enanitos, que sería estrenada en 1937, la cual tuvo éxito al poco tiempo de fundarse la compañía, con un valor de producción de 1 250 000 dólares. Este largometraje haría que la compañía empezara a tener reconocimiento, hasta el día de hoy.

        Es operadora y licenciataria de parques temáticos y diversos canales de televisión abierta y de pago, como American Broadcasting Company, ESPN y los variados canales familiares marca Disney; Disney Channel, Disney XD y Disney Junior. Las oficinas corporativas se encuentran concentradas principalmente en The Walt Disney Studios en Burbank, California. La compañía cotiza en la Bolsa de Valores de Nueva York desde el 6 de mayo de 1991. Disney en la actualidad es el conglomerado mediático más grande del mundo seguido de Comcast, WarnerMedia y ViacomCBS.
        
        El valor total de sus acciones, según Forbes, hasta mayo de 2015 era de 500 000 millones de dólares.2​
        
        El 14 de diciembre de 2017, la compañía anunció planes para la fusión con la multinacional 21st Century Fox, la dueña de la productora de cine 20th Century Studios y su división de entretenimiento, como sus producciones cinematográficas y canales de televisión como: FOX Sports, Fox Networks Group, FX Networks y National Geographic por US$52 400 millones de dólares. El 19 de marzo de 2019 fue confirmada esta fusión por Disney en sus redes sociales y en su página web, diciendo que en realidad la compra de 21st Century Fox fue de US$71 300 millones y que entró en vigencia el 20 de marzo de 2019.3​ 4​5​
        
        El 8 de noviembre de 2018, la compañía anunció el nombre oficial de su plataforma de contenidos de streaming llamada Disney+ que se estrenará el 17 de noviembre de 2020 en Latinoamérica.6​
        
        El 14 de mayo de 2019 se confirmó que la empresa tomará el control total de la plataforma estadounidense de streaming Hulu, debido a que se llegó a un acuerdo donde Comcast le permitió que compre su participación del 33% de la compañía hasta 2024, compañía que poseía junto con AT&T (posteriormente vendió su porcentaje del 10% a Disney), 21st Century Fox (posteriormente adquirida por Disney obteniendo un 60% de Hulu) y con Comcast como accionista silencioso.</p>
      <a href="https://es.wikipedia.org/wiki/The_Walt_Disney_Company" class="btn btn-primary">Ir a Wikipedia</a>
    </div>
  </div>
</section>