<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/img/banner1.jpg"
        class="d-block w-100"
        alt="mr.increible"
      />
    </div>
  </div>
</div>
<div class="container">
  <p class="d-flex justify-content-center">
    Mr. Increíble es una persona de una raza de humanos nacidos con
    superpoderes, y se lo conoce como "Super". Era uno de los héroes más famosos
    de su época y era conocido por su habilidad en la lucha contra el crimen. En
    algún momento, conoció y se enamoró de su compañera superhéroe Elastigirl.
    Sin embargo, poco después de que los dos se casaron, los transeúntes que
    habían sido heridos durante los intentos de combatir el crimen comenzaron a
    demandar. La reacción violenta forzó a los superlativos como Mr. Increíble y
    Elastigirl a retirarse y a proteger a los testigos. Mr. Increíble retomó el
    nombre de Bob Parr y comenzó una vida civil con Elastigirl, ahora en su
    identidad civil como Helen Parr. Mr. Increíble es considerado uno de los
    Supers más poderosos. Durante su carrera temprana, era conocido por trabajar
    solo, lo que lo llevó a apartar a Buddy Pine. Posee los poderes de fuerza y
    ​​durabilidad mejoradas, así como de sentidos mejorados. En la base de datos
    de Operation Kronos, a Mr. Incredible se le asignó una calificación de
    amenaza de 9.1, la calificación más alta de cualquiera de los supers.
    Descripción Oficial Mr. Increíble ama ser un superhéroe. Está orgulloso de
    estar de vuelta en acción, con su familia y amigos de su lado. Personalidad
    La personalidad de Bob es la de un héroe clásico. En su esencia, él desea
    ser un héroe y un modelo, y hacer el bien por sí mismo. Pero como se muestra
    en los noticieros, Bob es físicamente invulnerable, pero demasiado humano en
    sus defectos. Él se cansa de un mundo que no permanecerá salvado por más de
    cinco minutos; y más tarde, muestra una veta de arrogancia y orgullo
    arrogante, buscando revivir sus días de gloria a expensas de su vida
    familiar. El compromiso de Bob de hacer lo correcto es tan fuerte que lo
    muestra incluso cuando no está involucrado en actos heroicos. Esto se
    muestra cuando, mientras trabajaba para Insuricare, constantemente
    encontraba lagunas legales para ayudar a sus clientes, lo que a menudo le
    valía la ira de su jefe egoísta y codicioso, el Sr. Huph. Estos desacuerdos
    eventualmente llegaron a un punto crítico, cuando durante una reunión, Bob
    notó un atraco e intentó intervenir pero fue detenido cuando el Sr. Huph
    amenazó con despedirlo. Finalmente harto, Bob agarró al Sr. Huph por el
    cuello y lo lanzó a través de cinco paredes, lo que causó que Bob perdiera
    su trabajo. Bob también tiene una tendencia a tratar de resolver los
    problemas del mundo por su cuenta, rechazando y despreciando activamente la
    ayuda de cualquier persona, incluso de su amada esposa y el sabio consejo de
    su mejor amigo Frozono. Estos defectos combinados casi le cuestan la vida y
    la vida de su familia. A pesar de ser un héroe que valora enormemente la
    vida, Bob ha mostrado poco cuidado al bienestar de sus enemigos en el
    momento debido a su dificultad para controlar su fuerza sobrehumana, por lo
    que incluso involuntariamente Bob puede matar villanos súper vistos como
    prácticos debido al daño que solo ellos conocerán si los deja con vida. Bob
    solo está interesado en su esposa Helen, pero trata a otras mujeres con
    respeto. Este rasgo fue recogido por Síndrome, quien le ordena a Mirage que
    aprecie, pero no seduzca, a Mr. Increíble. Bob se ve cenando con Mirage
    después de que desactivó un Omnidroide como un evento social y nada más que
    eso. Sin embargo, podría argumentarse que Mirage estaba teniendo un efecto
    algo positivo en la autoimagen de Bob, haciéndolo seguir una rutina de
    ejercicios (aunque uno se ocuparía de desarrollar su súper fuerza), y Bob
    comportándose con más seguridad de una manera similar a James Bond. Además,
    después de haber soportado vestimentas y una posterior terminación del
    trabajo de su jefe, el Sr. Huph, los grandes pagos de Mirage y la
    apreciación de las misiones fueron exactamente lo opuesto al lugar de
    trabajo hostil con el que lidió en Insuricare. Apariencia física Bob es un
    hombre excepcionalmente alto y musculoso con hombros, pecho y brazos enormes
    (como corresponde a su fuerza sobrehumana). Él tiene cabello rubio (que ha
    disminuido en su edad madura) y ojos azules. Cuando era más joven, era mucho
    más delgado, pero cuando su hija, Violeta estaba en la escuela secundaria,
    se había vuelto obeso y se vio obligado a someterse a una dieta extenuante y
    un régimen de ejercicio, después de lo cual perdió peso suficiente para
    reanudar su súper heroísmo antes de irse a la Isla Nomanisan. Poderes y
    habilidades Poderes Fuerza Sobrehumana: La principal superpotencia de Mr.
    Incredible es su gran fuerza sobrehumana. De acuerdo con los archivos de
    datos de Síndrome de "Supers", el límite exacto de elevación de Bob supera
    las 66 toneladas y su clasificación de amenaza es 9.1, un nivel que ninguno
    de los otros superhéroes tenía, convirtiéndolo en uno de los seres más
    poderosos del mundo. planeta. Incluso en la edad madura, también se le ve
    jalando locomotoras de banca y lanzamiento de rocas a velocidades tremendas.
    Salto Sobrehumano: Las piernas sobrehumanas del Mr. Increíble le permiten
    saltar una increíble cantidad de metros en el aire, con una libertad
    significativa en su agilidad y movimiento. Velocidad Sobrehumana: Sus
    músculos superhumanos fuertes también le otorgan un cierto grado de
    velocidad mejorada, casi sobrehumana, ya que puede correr significativamente
    más rápido que un humano normal, aunque ni su velocidad ni su agilidad se
    acercan a las de su hijo Dash. Agilidad Desarrollada: Sus músculos
    sobrehumanos fuertes le permiten moverse y realizar hazañas de gran agilidad
    que un ser humano normal nunca podría hacer sin lastimarse o dañar sus
    ligamentos. Combinado con su habilidad para saltar, Mr. Increíble puede
    realizar algunas maniobras asombrosas que ningún otro atleta humano normal o
    incluso el más fino podría hacer. Durabilidad Desarrollada: Mr. Increíble es
    capaz de soportar enormes cantidades de trauma físico y fuerzas
    contundentes, incluyendo caídas de varios pisos, el impacto directo de un
    tren, atravesar paredes de ladrillo y sobrevivir a 100.000 voltios de
    electricidad bajo tortura. Sin embargo, se puede cortar con metales muy
    duros y una cantidad adecuada de fuerza. A pesar de que Mr. Incredible tiene
    un grado casi sobrehumano de resistencia a los impactos y el dolor, las
    cosas que producen una tremenda fuerza contundente pueden lastimarlo o
    incluso perforar su piel. Esto se muestra cuando va a detener el tren, se
    estremece justo antes de golpearlo, según el director Brad Bird, era él
    "preparándose para el hecho de que va a doler". En una escena eliminada, sin
    embargo, su cuerpo podría resistir el corte con un cuchillo de carnicero, y
    también mellarlo en el proceso, como se demostró cuando, mientras trataba de
    cortar algo de comida para la parrilla, accidentalmente se cortó los dedos.
    Esto también en cierto modo actuó como una debilidad ya que habría revelado
    su identidad a sus nuevos vecinos, por lo que tuvo que fingir una lesión
    para mantener la cobertura. Además, al comienzo de la película The
    Incredibles, cuando un matón normal lo amenazó con apuntarle con un arma,
    Mr. Increíble no mostró preocupación ni preocupación por recibir un balazo
    de bajo calibre. Sentidos Desarrollados: Mr. Increíble también tiene
    sentidos muy agudos. Este poder se ve cuando Bomb Voyage está a punto de
    abrir la bóveda de un rascacielos; Mr. Increíble puede escuchar el leve
    pitido de la bomba desde el otro lado de una pared gruesa. Además, cuando
    llegó a casa después de algunas horas de vigilancia, notó rápidamente la
    presencia de otra persona en la habitación, que era Helen. Habilidades
    Estratega Experto: Ser un superhéroe veterano, años de experiencia en el
    campo y acciones súper heroicas le permiten formular rápidamente estrategias
    efectivas para lidiar con oponentes que no pueden ser vencidos solo por su
    fuerza. También le permite trabajar bien con otros héroes con los que está
    familiarizado y aprovechar sus poderes en concierto con los suyos.
    Combatiente Mano a Mano Experto: La amplia experiencia de Mr. Increíble y
    los años de práctica lo han convertido en un gran combatiente desarmado.
    Además, se muestra por la pose de lucha que adoptó al detectar la presencia
    de su esposa Helen (pensando que ella era una intrusa). Debilidades Mr.
    Increíble no parece tener debilidades sobrehumanas, pero es tan vulnerable
    como cualquier persona a la arrogancia de la veneración de sus "días de
    gloria" y en la madurez, tiene una mala espalda. Sin embargo, en una escena
    eliminada, se daba a entender que su durabilidad sobrehumana era en sí misma
    una debilidad, ya que lo habría expuesto cuando sus dedos abollaron un
    cuchillo de carnicero cuando accidentalmente cortó su mano con él,
    forzándolo a actuar rápido y con una lesión falsa. , y más tarde le permitió
    ser identificado por uno de los vecinos, un agente de Síndrome. Algunos de
    los enlaces son de afiliados, lo que significa que, sin costo adicional para
    ti, Fandom ganará una comisión si haces clic y realizas una subscripción. Su
    inmensa fuerza también puede ser una gran debilidad que a menudo tiene
    dificultades para controlar, como se muestra cuando constantemente se rompe
    o golpea objetos, como su auto y un pequeño plato. También se convirtió en
    un problema cuando lanzó a Huph a través de cinco paredes, lo que era mucho
    más difícil de lo que pretendía. A pesar de ser casi invulnerable, se ha
    demostrado que tiene una aversión a la lava, lo que sugiere que no es
    completamente invencible y que puede ser herido y finalmente asesinado por
    sustancias fundidas.
  </p>
</div>
