/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
html {
  min-height: 100%;
  position: relative;
}

footer {
  margin-top: 100px;
=======

section {
    padding: 20px 40px;
>>>>>>> develop
}